<section class="section-cart">
  <i class="fa-solid fa-xmark"></i>
  <h1 class="section-cart-name">Giỏ hàng</h1>
  <form action="">
    <table class="product">
      <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Size</th>
          <th>Chọn</th>
        </tr>
      </thead>
      <tbody id="product-tbody">

      </tbody>
    </table>
    <div class="cart">
      <h3 class="mid">Thông tin khách hàng</h3><br>
      <label class="label" for="name">Họ và tên:</label>
      <input class="input" type="text" id="name" name="name" placeholder="Nhập họ và tên"><br><br>
      <label class="label" for="address">Địa chỉ:</label>
      <input class="input1" type="text" id="address" name="address" placeholder="Nhập địa chỉ"><br><br>
      <label class="label" for="phone">Số điện thoại:</label>
      <input class="input2" type="text" id="phone" name="phone" placeholder="Nhập số điện thoại"><br><br>
      <input class="submit" type="submit" value="Đặt hàng" style="cursor: pointer;"><br><br>
    </div>
  </form>
</section>