<footer id="last">
  <table style="width: 90%;">
    <tr style="height: 40px">
      <td>
        <h2>Shop N20</h1>
      </td>
      <td>
        <h2>Địa chỉ</h2>
      </td>
    </tr>
    <tr>
      <td>Mua quần áo giá rẻ, chất lượng</td>
      <td><i class="fa-solid fa-location-dot"></i> 144 Xuân Thủy, Cầu Giấy, Hà Nội</td>
    </tr>
    <tr>
      <td>Hãy đến với chúng tôi</td>
      <td><i class="fa-solid fa-phone"></i> 0388387xxx</td>
    </tr>
    <tr>
      <td>Để trải nghiệm những điều tuyệt vời nhất.</td>
      <td><i class="fa-solid fa-envelope"></i> 20020xxx@vnu.edu.vn</td>
    </tr>
  </table>
</footer>