<footer class="footer">
  <div class="footer-ctn row">
    <div class="footer-col">
      <div class="footer-col-title">
        <h4>Về Chúng tôi</h4>
      </div>
      <div class="footer-col-content">
        <div class="footer-about-us">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="footer-sn-icons">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-col-title">
        <h4>Thông tin thêm</h4>
      </div>
      <div class="footer-col-content">
        <ul class="footer-links">
          <li><i class="fa-solid fa-angle-right"></i><a href="#">Về chúng tôi</a></li>
          <li><i class="fa-solid fa-angle-right"></i><a href="#">Dịch vụ khách hàng</a></li>
          <li><i class="fa-solid fa-angle-right"></i><a href="#">Điều khoản và điều kiện</a></li>
          <li><i class="fa-solid fa-angle-right"></i><a href="#">Chính sách bảo mật</a></li>
          <li><i class="fa-solid fa-angle-right"></i><a href="#">Thông tin giao hàng</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-col-title">
        <h4>Liên hệ</h4>
      </div>
      <div class="footer-col-content">
        <div class="footer-contact-row row">
          <div class="footer-contact-icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="footer-contact-content">
            <p>Địa chỉ: 144 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
          </div>
        </div>
        <div class="footer-contact-row row">
          <div class="footer-contact-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="footer-contact-content">
            <p>Số điện thoại: <a href="tel:+84xxxxxxxxx">0xxxxxxxxx</a></p>
          </div>
        </div>
        <div class="footer-contact-row row">
          <div class="footer-contact-icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="footer-contact-content">
            <p>Email: <a href="mailto:200xxxxx@vnu.edu.vn">200xxxxx@vnu.edu.vn</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
