<header class="header row">
  <div class="header-logo">
    <div class="hd-logo-ctn">
      <a class="hd-logo-link" href="/">
        <img class="logo" src="/images/logo.png" alt="">
      </a>
    </div>
  </div>
  
  <%- include('header-nav') %>

  <div class="header-search">
    <div class="hd-search-ctn row">
      <div>
        <form id="search-form" method="get" action="/product/search">
          <input type="text" name="keyword" id="search-field" value="<%= (typeof keyword != 'undefined' ? keyword : '') %>">
          <input type="number" name="begin" value="0" hidden>
          <input type="number" name="quantity" value="15" hidden>
          <input type="submit" value="submit" hidden>
        </form>
      </div>
      <div>
        <a id="search-icon" href="#" onclick="$('#search-form').submit(); return false;">
          <i class="header-icon fa-solid fa-magnifying-glass"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="header-icons">
    <div class="hd-icons-ctn">
      <ul class="row">
        
        <%- include('cart-menu') %>
        
        <li><a href="/user/account"><i class="header-icon fa-solid fa-circle-user"></i></a></li>
      </ul>
    </div>
  </div>
</header>
