<nav>
  <div class="menu">
    <ul class="list" style="list-style-type: none;">
      <li><a href="">Áo sơ mi nam</a></li>
      <li><a href="">Áo hoddie</a></li>
      <li><a href="jeans.html">Quần jeans</a></li>
      <li><a href="au.html">Quần âu</a></li>
      <li>
        <input type="text" class="search-input" size="50%" placeholder="Tìm kiếm sản phẩm..." onkeypress="enter()">
        <button class="search-image" type="button" onclick="enter()"><i class="fa-solid fa-magnifying-glass"></i></button>
        <ul class="search-list">
          <li class="search-text">Sơ mi</li>
          <li class="search-text">Hoddie</li>
          <li class="search-text">Quần Jean</li>
          <li class="search-text">Quần âu</li>
        </ul>
      </li>
      <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
      <!-- <li><a href="/cart">Chi tiết giỏ hàng</a></li> -->
      <li><a href="/user/account"><i class="fa-solid fa-circle-user"></i></a></li>
    </ul>
  </div>
</nav>