<div class="cover-slides">
  <ul class="slides-ctn">
    <li class="slide slide-background" style="background-image: url('/images/slide1.png');"></li>
    <li class="slide slide-background" style="background-image: url('/images/slide2.png');"></li>
    <li class="slide slide-background" style="background-image: url('/images/slide3.jpg');"></li>
    <li class="slide slide-background" style="background-image: url('/images/slide4.jpg');"></li>
  </ul>
  <script>

  </script>
</div>
