<section>
  <div id="slide">
    <div id="images">
      <img class="slide-image" src="/images/slide0.png" alt="">
      <img class="slide-image" src="/images/slide1.png" alt="">
      <img class="slide-image" src="/images/slide2.png" alt="">
    </div>
  </div>
</section>
