<section>
  <div id="slide">
    <div id="images">
      <img src="/images/slide0.png" alt="" width="1475px" height="400px">
      <img src="/images/slide1.png" alt="" width="1475px" height="400px">
      <img src="/images/slide2.png" alt="" width="1475px" height="400px">
    </div>
  </div>
</section>