<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head') %>
</head>

<body>
  <div class="main">
    <%- include('layouts/header') %>
  
    
    
    <%- include('layouts/footer') %>

  </div>

  <%- include('layouts/script') %>
</body>

</html>
