<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head') %>
</head>

<body>
  <div class="main">
    <form action="/auth/login" method="post">
      <input type="text" name="username" id="">
      <input type="password" name="password" id="">
      <input type="submit" value="Login">
    </form>
  </div>
</body>

</html>
