<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head') %>

  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <div class="main">
    <div class="page-body row">
      <div class="auth-left">
        <div class="logo-ctn">
          <a href="/">
            <img src="/images/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="auth-right">
        <div class="form-ctn">
          <h2>Đăng ký Email</h2>
          <form action="/auth/signup/register-email" method="post" id="register-email-form">
            <div class="form-input-ctn">
              <input type="text" id="email" placeholder="Email">
            </div>
            <div class="form-input-ctn auth-error">
              <span>Địa chỉ email không hợp lệ</span>
            </div>
            <div class="form-input-ctn auth-error">
              <span>Địa chỉ email đã tồn tại</span>
            </div>
            <div class="form-input-ctn auth-error">
              <span>Đã xảy ra lỗi gửi email. Vui lòng thử lại</span>
            </div>
            <div class="form-input-ctn">
              <input type="submit" value="Gửi">
            </div>
            <div class="form-input-ctn form-forget-password">
              <a href="#">Đã có tài khoản? Đăng nhập</a>
            </div>
            <div class="form-input-ctn form-split-line" style="display: none;"></div>
            <div class="form-input-ctn success-notif" style="display: none;">
              <span>Email xác nhận đã được gửi tới hộp thư của bạn. Hãy xác nhận email</span>
            </div>
          </form>
          <script>
            $(document).ready(() => {
              $('#register-email-form').submit(function (e) {
                e.preventDefault();
                $('.auth-error').css('display', 'none');
                $.ajax({
                  type: 'POST',
                  url: '/auth/signup/register-email',
                  data: {
                    'email': $('#email').val()
                  },
                  success: function (data) {
                    if (data.success) {
                      $('.form-split-line').css('display', 'block');
                      $('.success-notif').css('display', 'block');
                    } else {
                      switch (data.code) {
                        case 'invalid':
                          $('.auth-error:eq(0)').css('display', 'block');
                          break;
                        case 'exist':
                          $('.auth-error:rq(1)').css('display', 'block');
                          break;
                        case 'email-sending-error':
                          $('.auth-error:rq(2)').css('display', 'block');
                          break;
                        default:
                          alert('Đã có lỗi xảy ra');
                      }
                    }
                  },
                  error: function (data) {
                    alert('Đã có lỗi xảy ra');
                  }
                });
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(() => {
      const bgImages = ['/images/login1.jpg', '/images/login2.jpg', '/images/login3.jpg'];
      let bgImage = 0;
      setInterval(() => {
        $('body').css('background-image', 'url("' + bgImages[bgImage] + '")');
        bgImage += 1;
        if (bgImage == bgImages.length) bgImage = 0;
      }, 5000);
    });
  </script>
</body>

</html>
